body {
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: 20% 80%;
}

#banner {
    grid-column: 1/3;
    grid-row: 1/2;
    background-color: #a78bfa;
}

#left-section {
    grid-column: 1/2;
    grid-row: 2/3;
    background-color: #7e22ce;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.shelf {
    grid-column: 2/3;
    grid-row: 2/3;
    background-color: #c4b5fd;
    height: auto;
    padding: 50px;
    display: grid;
    gap: 50px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

#left-section > form {
    color: white;
}

.card {
    background-color: #7e22ce;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.delete-button {
    width: 100px;
    color: brown;
}